body {background-color: lightblue;}
h1 {color: navy}
p {color: black}
#map {height: 400px; width: 700px}

.description {
  width: 200px;
  font-size: 12px;
  color: #333;
  padding: 10px 14px;
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  line-height: 120%;
  border: 1px solid grey;
}
